@{
    ViewBag.Title = "تماس با ما";
}

<section class="top-wrapper parallax">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="single-title">
                    <h3>تماس با ما</h3>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="breadcrumb-container">
                    <ul class="breadcrumb alignleft">
                        <li><a href="/">صفحه اصلی</a></li>
                        <li class="active">@ViewBag.Title</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="single-content">
    <div class="margin"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 aligncenter" data-effect="helix">
                <div class="contact-box">
                    <i class="fa fa-envelope-o icon-square"></i>
                    <h3 class="color_light">ادرس ایمیل</h3>
                    <h6>info@GreenPay.com</h6><br />
                    <div class="dotted"></div>
                    <p>

                    </p>
                </div>
            </div>
            <div class="col-md-4 aligncenter" data-effect="helix">
                <div class="contact-box">
                    <i class="fa fa-phone icon-square"></i>
                    <h3 class="color_light">تلفن تماس</h3>
                    <h6>021-88272820 </h6><br />
                    <h6>021-88273213 </h6><br />
                    <h6>021-88272382 </h6><br />
                    <div class="dotted"></div>
                    <p>

                    </p>
                </div>
            </div>
            <div class="col-md-4 aligncenter" data-effect="helix">
                <div class="contact-box">
                    <i class="fa fa-map-marker icon-square"></i>
                    <h3 class="color_light">ادرس ما</h3>
                    <h6> جلال آل احمد، رو به رو شهرآرا، خیابان چهارم، بن بست مهدی نژاد، پلاک 5، طبقه اول</h6><br />
                    <div class="dotted"></div>
                    <p></p>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <section>
        <div class="container">
            <div class="section-title aligncenter effect-helix in" data-effect="helix" style="-webkit-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;">
                <h2></h2>
                <p>
                   راه  های ارتباطی با شرکت ما
                </p>
                <div class="title_border"></div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="input-label">نام*</span>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <span class="input-label">ایمیل*</span>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-12">
                            <span class="input-label">پیام*</span>
                            <textarea class="form-control"></textarea>
                            <button class="btn">ارسال پیام</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map-wrap">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d202.43292370897862!2d51.373563577134775!3d35.72801924230178!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e075f5488570d%3A0xf897fe0af67ffb8c!2z2LTYsdqp2Kog2YHZhiDYotmI2LHbjCDYp9i32YTYp9i52KfYqiDar9ix24zZhiDZvtuM!5e0!3m2!1sen!2sus!4v1597145202754!5m2!1sen!2sus" width="100%" height="240" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="margin"></div>
    </section>
</div>
