

<footer id="footer-wrapper">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="widget">
                        
                        <h2 class="widget-title">دسترسی سریع</h2>
                        <ul class="follow">
                            <li><a href="/" data-toggle="tooltip" data-placement="top" title="صفحه اصلی">صفحه اصلی</a></li>
                            <li><a href="/Home/Contact" data-toggle="tooltip" data-placement="top" title="تماس با ما">تماس با ما</a></li>
                            <li><a href="/Home/About" data-toggle="tooltip" data-placement="top" title="درباره ما">درباره ما</a></li>
                            <li><a href="/News/" data-toggle="tooltip" data-placement="top" title="وبلاگ">وبلاگ</a></li>
                            <li><a href="/Home/Services" data-toggle="tooltip" data-placement="top" title="خدمات">خدمات</a></li>
                        </ul>

                    </div>
                    <div class="widget">
                        <h3 class="widget-title">فضای مجازی ما</h3>
                        <ul class="follow inline-list">
                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="instagram"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                    @Html.Action("PostFarvritInFooter", "News")
                </div>

                
                <div class="col-md-4">
                    <div class="widget">
                        <h3 class="widget-title">تماس باما</h3>
                        <div class="contact-info">
                            <p><small><i class="fa fa-envelope-o"></i>info@GreenPay-it.com</small></p>
                            <p><small><i class="fa fa-mobile"></i> 021-88273213</small></p>
                            <p><small><i class="fa fa-globe"></i> http://greenpay-it.com</small></p>
                            <p><small><i class="fa fa-map-marker"></i> جلال آل احمد، رو به رو شهرآرا، خیابان چهارم، بن بست مهدی نژاد، پلاک 5، طبقه اول</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-left">
        <div class="container ">

            <b>
                تمام حقوق این سایت برای شرکت فناوری اطلاعات گرین پی می باشد
            </b>
            
        </div>
    </div>
</footer>