

<section class="about-section">
    <div class="container">

        <div class="services alignright">
            <h2>ما چکار می کنیم؟</h2>
            <div class="margin"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="service overflow" data-effect="slide-bottom">
                        <div class="icon pull-right">
                            <i class="fa fa-mobile"></i>
                        </div>
                        <div class="service-ct">
                            <h3>استراتژی‌های ما</h3>
                            <p>جهت گیری به سمت پایه گذاری یک کسب و کار الکترونیکی پایدار در فضای مجازی </p>
                        </div>
                    </div>
                    <div class="service overflow" data-effect="slide-bottom">
                        <div class="icon pull-right">
                            <i class="fa fa-flask"></i>
                        </div>
                        <div class="service-ct">
                            <h3>ماموریت</h3>
                            <p> ارائه و پشتیبانی محصولات و خدمات راهبردی در زمینه های فناوری اطلاعات و ارتباطات </p>
                        </div>
                    </div>
                    <div class="service overflow" data-effect="slide-bottom">
                        <div class="icon pull-right">
                            <i class="fa fa-cog"></i>
                        </div>
                        <div class="service-ct">
                            <h3>چشم انداز</h3>
                            <p> ارائه خدمات در زمینه های فناوری اطلاعات با بالاترین کیفیت ممکن و با استفاده از فناوری های نوین </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" data-effect="slide-left">
                    <img class="img-responsive" src="/Content/GreenPay/2020-08-10-13-03-greenpay-it.com.png" />
                </div>
            </div>
            <hr />
            <div class="aligncenter">
                <div class="message-white" data-effect="slide-bottom">
                    <section>
                        <div class="container">
                            <div class="big-message aligncenter" data-effect="slide-bottom">
                                <h2 class="color_light"></h2>
                                <h3>
                                    <p>توسعه، ارتقاء دانش و نوآوری، آزمایش در حوزه های مرتبط با ارتباطات و فناوری اطلاعات بویژه حوزه خدمات قابل ارائه با تلفن همراه، طراحی، معرفی و ارائه سرویس های مختلف قابل ارائه از طریق شبکه های تلفن همراه اعم از سرویس های ارزش افزوده، اپلیکیشن ها و سایر خدمات و سرویس ها و به طور کلی هرگونه فعالیت مرتبط به حوزه ارتباطات سیار و فناوری های نوین، نوآوری و توسعه کسب و کار و خدمات ارائه شده یا قابل ارائه با تلفن همراه سایر رایانه های همراه</p>

                                </h3>
                            </div>
                        </div>
                    </section>
                    <a class="btn btn-lg" href="/Home/About">نمایش جزئیات بیشتر</a>
                </div>
            </div>
        </div>
    </div>
</section><!--End Features Section-->
